window {
        background-color: rgba (0, 0, 0, 0)
}

/* Outer bar container, takes all the window width/height */
#outer-box {
	margin: 0px;
	background-color: #ac52b1;
	border-radius: 10px;
}

/* Inner bar container, surrounds buttons */
#inner-box {
	background-color: rgba (41, 38, 37, 1);
	border-radius: 10px;
	border-style: none;
	border-width: 1px;
	padding: 5px;
	margin: 5px
}

button, image {
	background: none;
	border: none;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: rgba (172, 82, 177, 0.2)
}
